@using BookApi  @*First added a reference to this library project*@
@using System.Web
@model BookFinder.Models.ViewModels.TitleViewModel

@{
    ViewData["Title"] = "Search by title";
}

<div class="text-center">
    <h1 class="display-4">Search by book title</h1>
</div>


<form asp-controller="Title" asp-action="Index" method="post">
    <div>
        <input asp-for="Title" type="text" />
    </div>
    @{
        if (@Model != null && !string.IsNullOrEmpty(@Model?.Title))
        {
            // as with Authors I'm working on the happy path, for now
            foreach (var item in @Model.Root.items)
            {
                    <fieldset>
                        <div>
                            <label asp-for="@item.volumeInfo.title"></label>:&nbsp;
                            @item.volumeInfo.title
                        </div>
                        <div>
                            <label asp-for="@item.volumeInfo.subtitle"></label>:&nbsp;
                            @item.volumeInfo.subtitle
                        </div>
                        <div>
                            <label asp-for="@item.volumeInfo.description"></label>:
                            <br />
                            @item.volumeInfo.description
                        </div>
                    </fieldset>
                    <br /><br />
            }
            
        }
    }

    <div class="text-center" style="margin-top:10px;">
        <input type="submit" value="Search by book title" class="btn btn-primary" />
    </div>

</form>
